<p-card header="Login">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="flex">
      <p>Email</p>
      <input pInputText type="email" name="email" [(ngModel)]="model.email" required email>
      <p>Password</p>
      <input pInputText type="password" name="password" [(ngModel)]="model.password" required>
      <button pButton pRipple label="Submit" class="p-button" style="margin-top:30px"></button>
  </form>
  <!-- Align link and text -->
  <div>
    <p>Don't have account yet? <p-button label="Sign up" [text]="true" routerLink="/register"></p-button></p>
  </div>
</p-card>

